@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap%27');

ul {
  list-style-type: none;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#room {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.box {
  float: left;
  width: 100%;
  border: 3px solid #D2D2D2;
  padding: 10px;
  height: 200px;
  overflow: auto;
  
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #D1D1D1;
}

.whiteboard {
  background: white;
  height: 100%;
}

.colors {
  position: relative;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }
